
.idea/IS428-AWSOMENESS-OVERFLOW.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

webapp/.idea/modules.xml

webapp/node_modules
webapp/.idea/webapp.iml

webapp/.idea/workspace.xml

csvs/

data/

react_app/.idea/workspace.xml
